<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
    <script type="module" src="/static/modules/auth.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" defer src="/static/js/app.js"></script>
    <link rel="icon" href="/static/img/bclogo.png" />
    <link rel="shortcut icon" href="/static/img/bclogo.png">
    <title>BC Munchies</title>

    
</head>
<body>
    <div class="header">
        <img class="clearpng" src="/static/img/clearpng.png">
        <img class="munchieslogo" src="/static/img/munchies2.png" alt="logo">
        <div class="ordericon" id="orderbutton">
            <span class="ordericonnum" id="cartnum">0</span>
            <img class="bclogo" src="/static/img/BClogo.png" alt="bclogo"/>
        </div>
    </div>
    
    <div class="itemaddedpopup" id="itemaddedpopup">
        <h2 class="itemaddedpopuptitle">Item Added</h2>
    </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>

    <div id="sidebarMenu">
        <div class="sidebarMenuInner">
            <nav class="main-nav">
                <ul class="loginbuttons">
                    <a href="#0" id="signinclick" class="bttn">Login</a>
                    <a href="#0" id="signupclick" class="bttn-dark">Sign Up</a>
                </ul>
            </nav>
    
            <a href="#0" class="bttn-two">Orders</a>
            <a href="#0" class="bttn-two">Referrals</a>
        </div>
    </div>

    <div class="user-modal" id="loginmodal">
        <div class="user-modal-container">
            <ul class="switcher">
                <li><a id="tab-signin" href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="login">
                <form class="form" id="signinform">
                    <p class="fieldset">
                        <label class="image-replace email" for="signin-email" name="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">An account with this email address does not exist!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <!--
                        <span class="error-message">Wrong password! Try again.</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>

                    <p class="fieldset" id="logininbtn">
                        <input class="full-width" type="submit" value="Login" onclick="signinEmail();">
                    </p>

                    <div class="signingoogle" id="signinbtn">
                        <div class="googleimgbox">
                            <img src="/static/img/google.png" class="googlelogo">
                        </div>
                        <p class="googleboxtext">Sign in with Google</p>
                    </div>
                        
                </form>
                
                <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>

            </div>

            <div id="signup">
                <form class="form" id="signupform">
                    <p class="fieldset">
                        <label class="image-replace username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">Enter a valid email address!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Your password has to be at least 6 characters long!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a class="accept-terms" href="/terms">Terms</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Create account" onclick="signupEmail();">
                    </p>
                    <div class="signingoogle" id="signupbtn">
                        <div class="googleimgbox">
                            <img src="/static/img/google.png" class="googlelogo">
                        </div>
                        <p class="googleboxtext">Sign up with Google</p>
                    </div>
                </form>

            </div>

            <div id="reset-password">
                <p class="form-message">Lost your password? Please enter your email address.</br> You will receive a link to create a new password.</p>

                <form class="form" id="resetemailform">
                    <p class="fieldset">
                        <label class="image-replace email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">An account with this email does not exist!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <input class="full-width has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div>
            <a href="#0" class="close-form">Close</a>
        </div>
    </div>

    <div class="container-body">
        <div class="displaycard">
            <h1 class="boxh1">Straight bussin food</h1>
            <h2 class="boxh2">anywhere on campus</h2>
            <a style="margin-left:5%;" class="bttn" id="mainlogin">Login</a>
        </div>
        <img class="isometric1" src="/static/img/isometric1.png" alt="isometric1" />
    </div>

    <div class="menubox">
        <h1 class="menuh1">This weeks specials</h1>

        <div class="slider">
            <input type="radio" name="testimonial" id="t-1"/>
            <input type="radio" name="testimonial" id="t-2"/>
            <input type="radio" name="testimonial" id="t-3" checked/>
            <input type="radio" name="testimonial" id="t-4"/>
            <input type="radio" name="testimonial" id="t-5"/>

            <div class="testimonials" id="menu">
                <!--
                <label class="item" for="t-1" id="testfood1">
                    <img src='/static/img/testfood1.png' alt="picture"/>
                    <p>testfood 1</p>
                    <a href="#0" class="bttn-two">Order</a>
                </label>
                <label class="item" for="t-2" id="testfood2">
                    <img src='/static/img/testfood2.png' alt="picture"/>
                    <p>testfood 2</p>
                    <a href="#0" class="bttn-two">Order</a>
                </label>
                <label class="item" for="t-3" id="testfood3">
                    <img src='/static/img/testfood3.png' alt="picture"/>
                    <p>testfood 3</p>
                    <a href="#0" class="bttn-two">Order</a>
                </label>
                <label class="item" for="t-4" id="testfood4">
                    <img src='/static/img/testfood4.png' alt="picture"/>
                    <p>testfood 4</p>
                    <a href="#0" class="bttn-two">Order</a>
                </label>
                <label class="item" for="t-5" id="testfood5">
                    <img src='/static/img/testfood5.png' alt="picture"/>
                    <p>testfood 5</p>
                    <a href="#0" class="bttn-two">Order</a>
                </label>
                -->

                <div class="loader">
                    <div class="square" id="sq1"></div>
                    <div class="square" id="sq2"></div>
                    <div class="square" id="sq3"></div>
                    <div class="square" id="sq4"></div>
                    <div class="square" id="sq5"></div>
                    <div class="square" id="sq6"></div>
                    <div class="square" id="sq7"></div>
                    <div class="square" id="sq8"></div>
                    <div class="square" id="sq9"></div>
                </div>
            </div>

            
            <div class="dots">
                <label for="t-1"></label>
                <label for="t-2"></label>
                <label for="t-3"></label>
                <label for="t-4"></label>
                <label for="t-5"></label>
            </div>
        </div>

        
    </div>

    <div class="signoutbox">
        <p id="username"></p>
        <a class="signoutbutton" id="signout">Sign out</a>
    </div>

   
</body>
</html>