<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
    <script type="module" src="/static/modules/auth_order.js"></script>
    <script type="module" src="/static/modules/order.js"></script>
    <script type="text/javascript" defer src="/static/js/orderpage.js"></script>
    <title>BC Munchies Order</title>
    <link rel="shortcut icon" href="/static/img/bclogo.png">


</head>
<body onload="itemLoad();"> 
    <div class="header">
        <p id="username" class="headerName"></p>
        <img class="clearpng" src="/static/img/clearpng.png">
        <img class="munchieslogo" src="/static/img/munchies2.png" alt="logo" onclick="window.location.href='/'" />
        <div class="ordericon">
            
            <img class="bclogo" src="/static/img/BClogo.png" alt="bclogo" />
        </div>
        
    </div>

    <div class="orderpagebox">

        <div class="leftbox">
            <div class="leftboxheader">
                <p class="leftboxheadertext">Checkout</p>
            </div>
                <ul class="orderitems" id="orderitems">
                
                </ul>

            <button class="checkouttitle" onclick="clearCart();">Clear Cart</button>
        </div>

        <div class="rightbox">
            <div class="rightboxheader">
                <h2 id="usernameCheckout" class="orderFor"></h2>
            </div>

            <p> Order Summary</p>

            <table>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Test1</td>
                  <td>$10.00</td>
                </tr>
                <tr>
                  <td>Test2</td>
                  <td>$15.00</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="user-modal" id="loginmodal">
        <div class="user-modal-container">
            <ul class="switcher">
                <li><a id="tab-signin" href="#0">Sign in</a></li>
                <li><a href="#0">New account</a></li>
            </ul>

            <div id="login">
                <form class="form" id="signinform">
                    <p class="fieldset">
                        <label class="image-replace email" for="signin-email" name="signin-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">An account with this email address does not exist!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signin-password">Password</label>
                        <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <!--
                        <span class="error-message">Wrong password! Try again.</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="remember-me" checked>
                        <label for="remember-me">Remember me</label>
                    </p>

                    <p class="fieldset" id="logininbtn">
                        <input class="full-widthlol" type="submit" value="Login" onclick="signinEmail();">
                    </p>

                    <div class="signingoogle" id="signinbtn">
                        <div class="googleimgbox">
                            <img src="/static/img/google.png" class="googlelogo">
                        </div>
                        <p class="googleboxtext">Sign in with Google</p>
                    </div>
                        
                </form>
                
                <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>

            </div>

            <div id="signup">
                <form class="form" id="signupform">
                    <p class="fieldset">
                        <label class="image-replace username" for="signup-username">Username</label>
                        <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
                        <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span>
                    </p>

                    <p class="fieldset">
                        <label class="image-replace email" for="signup-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">Enter a valid email address!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <label class="image-replace password" for="signup-password">Password</label>
                        <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="Password">
                        <a href="#0" class="hide-password">Show</a>
                        <span class="error-message">Your password has to be at least 6 characters long!</span>
                    </p>

                    <p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">I agree to the <a class="accept-terms" href="/terms">Terms</a></label>
                    </p>

                    <p class="fieldset">
                        <input class="full-widthlol has-padding" type="submit" value="Create account" onclick="signupEmail();">
                    </p>
                    <div class="signingoogle" id="signupbtn">
                        <div class="googleimgbox">
                            <img src="/static/img/google.png" class="googlelogo">
                        </div>
                        <p class="googleboxtext">Sign up with Google</p>
                    </div>
                </form>

            </div>

            <div id="reset-password">
                <p class="form-message">Lost your password? Please enter your email address.</br> You will receive a link to create a new password.</p>

                <form class="form" id="resetemailform">
                    <p class="fieldset">
                        <label class="image-replace email" for="reset-email">E-mail</label>
                        <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                        <!--
                        <span class="error-message">An account with this email does not exist!</span>
                        -->
                    </p>

                    <p class="fieldset">
                        <input class="full-widthlol has-padding" type="submit" value="Reset password">
                    </p>
                </form>

                <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
            </div>
            <a href="#0" class="close-form">Close</a>
        </div>
    </div>
    
</body>
</html>